/* Default Colors */

$color-dark-1: #111111;
$color-dark-2: #272727;
$color-dark-3: #7c7c7c;
$color-bg: #161616;
$color-streaming-red: #e50914;
$color-pink: #bb5a5f;
$color-green: #198754;
$color-lightgreen: #27d383;


.text-streaming-red {
    color: $color-streaming-red;
}

.text-white {
    color: white;
}

.text-lightgrey {
    color: $color-dark-3;
}