// Dependencies
@use './colors' as *;


/* Poster Collection */

.poster-list {
    list-style-type: none;
    display: flex;
}

/* Poster Component */

.poster {
    //Poster variables
    $radius : 8px;


    padding: 10px 20px;
    position: relative;

    // &:hover+.poster {
    //     margin-left: 300px;
    // }




    & .content {
        display: flex;
        border-radius: $radius;
        height: 300px;
        transition: all .2s ease;
        z-index: 900;
        background-color: $color-dark-1;
        border: 1px solid $color-dark-2;
        overflow: hidden;


        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.42);
        }


        &:hover .poster-thumbnail img {
            border-radius: $radius 0px 0px $radius;
        }

        &:hover .poster-thumbnail .overlay {
            background: linear-gradient(90deg, rgba(2, 0, 36, 0) 60%, $color-dark-1 100%);
        }



        & .poster-thumbnail {

            position: relative;

            & .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
                transition: all .7s ease;
            }

            & img {
                width: 200px;
                object-fit: cover;
                border-radius: $radius;
                height: 100%;
            }

        }

        & .poster-details {
            display: none;
            color: white;
            border-radius: 0px $radius $radius 0px;

            & .details {
                position: relative;
                height: 100%;

                & .bottom-section {
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                & .description {
                    font-size: .8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }



        &:hover .poster-details {
            display: block;
            padding: 15px 25px 10px 15px;
            animation: posterHover .4s ease;
            width: 300px;

        }

        &:hover .details {
            animation: detailsReveal .5s ease;
        }

    }

}

/* Animations */

@keyframes posterHover {
    0% {
        width: 0px;
    }

    100% {
        width: 300px;
    }
}

@keyframes detailsReveal {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}